:root {
  --corp: #9bcdd7;
  --corp2: #d34544;
  --bg: #242424;
  --bg2: #121212;
  --clear: #e3dbc8;
  --border: rgba(0, 0, 0, 0.3);
}

table {
  color: var(--corp);
}

td,
th {
  text-align: center;
  padding: 15px;
  font-size: 1.15rem;
}

.odd {
  background-color: var(--bg2);
}

.even {
  background-color: var(--bg);
}

div.dataTables_wrapper div.dataTables_filter {
  text-align: left;
}

.page-link {
  color: var(--corp);
  background-color: transparent;
  border: none;
}

.page-item.active .page-link {
  background-color: transparent;
  border-color: transparent;
  color: var(--clear);
}

.page-item.disabled .page-link {
  color: var(--corp);
  pointer-events: none;
  cursor: auto;
  background-color: transparent;
}
.page-link:hover {
  text-decoration: none;
  background-color: transparent;
  color: var(--corp);
}

/*  */
.dataTables_filter input:hover,
.dataTables_filter input:focus {
  background: var(--bg);
  box-shadow: 0 0 2rem var(--clear);
  color: var(--corp);
}

.dataTables_filter input {
  background: var(--bg2);
  border-radius: 50px;
  height: 48px;
  width: 350px !important;
  color: var(--corp);
  padding: 0px 20px;
  padding-right: 40px;
  border: none;
  box-shadow: 2px 1px 0.2em var(--border);
}

.dataTables_filter label:after {
  content: "";
  display: block;
  background-image: url(../img/download.png);
  background-repeat: no-repeat;
  width: 50px;
  height: 22px;
  left: 330px;
  top: 13px;
  position: absolute;
}
