/* Geral */
input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}
a,
li,
a:hover {
  text-decoration: none;
  list-style: none;
}
button {
  cursor: pointer;
  border: none;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
}
.flex-collumn {
  display: flex;
  flex-direction: column;
}
.font_corp {
  color: var(--corp);
}
.font_corp2 {
  color: var(--corp2);
}
.font_white {
  color: var(--clear);
}
.font_bold {
  font-weight: bold;
}
.responsive {
  width: 100%;
  max-height: 100%;
}
.btn {
  background: var(--bg);
  border-radius: 50px;
  height: 43px;
  color: var(--corp);
  padding: 0px 20px;
  border: none;
  box-shadow: 2px 1px 0.2em var(--border);
  width: 100%;
}
.btn:hover {
  color: var(--bg);
  background: var(--corp);
  box-shadow: 2px 1px 0.2em var(--clear);
}
.btnCancelar:hover {
  color: var(--clear);
  background: var(--red);
  box-shadow: 2px 1px 0.2em var(--clear);
}
.btn:hover span {
  color: var(--corp);
}
.btn_reverse {
  background: var(--corp);
  border-radius: 50px;
  color: var(--bg);
  padding: 0px 20px;
  border: none;
  box-shadow: 2px 1px 0.2em var(--border);
  width: 100%;
  min-height: 48px;
}
.btn_reverse:hover {
  color: var(--corp);
  background: var(--bg);
  box-shadow: 2px 1px 0.2em var(--corp);
}
.btn_reverse_corp2 {
  background: var(--corp2);
  border-radius: 50px;
  color: var(--bg);
  padding: 0px 20px;
  border: none;
  box-shadow: 2px 1px 0.2em var(--border);
  width: 100%;
  min-height: 48px;
}
.btn_reverse_corp2:hover {
  color: var(--corp2);
  background: var(--bg);
  box-shadow: 2px 1px 0.2em var(--corp2);
}
.btn_input {
  background: var(--bg);
  border-radius: 50px;
  color: var(--corp2);
  padding: 0px 30px;
  border: none;
  box-shadow: 0px 0px 0.5rem var(--corp);
  min-height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.btn_input:hover,
.btn_input:focus {
  box-shadow: 0px 0px 1rem var(--corp);
  color: var(--corp);
}
.input_login {
  background: var(--bg);
  border: none;
  color: var(--corp);
  padding: 0;
}
.btn_input i {
  color: var(--clear);
}
.btn_input:hover i {
  color: var(--corp);
}
.hide {
  display: none !important;
}
.desk {
  display: block;
}
.mob {
  display: none;
}
.loadMouse {
  cursor: wait;
}
:root {
  --corp: #9bcdd7;
  --corp2: #d34544;
  --bg: #242424;
  --bg2: #121212;
  --clear: #e3dbc8;
  --border: rgba(0, 0, 0, 0.3);
}
html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg);
}
header {
  flex-direction: column;
  position: fixed;
  border-radius: 10px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--bg);
  width: 75px;
  height: 100%;
  z-index: 1;
  opacity: 0.9;
  box-shadow: 1px 1px 1px var(--border);
}
.menu {
  display: flex;
  position: fixed;
  flex-direction: column;
  width: 75px;
  padding-top: 50px;
  height: 100%;
  color: var(--corp);
  box-shadow: 2px 1px 1rem;
}
.menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
a,
li,
a:hover {
  text-decoration: none;
  list-style: none;
}
.menu_item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 93px;
  height: 62px;
  font-size: 25px;
}
.ativo,
.menu_item:hover {
  background-color: var(--corp);
  color: var(--bg);
}
.menu_item i {
  color: var(--clear);
}
.ativo i {
  color: var(--bg);
}
.menu_logo {
  padding-bottom: 1rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.menu_item:nth-child(5) {
  margin-top: 50px;
}

.responsive {
  width: 100%;
  max-height: 100%;
}
.name-title {
  justify-content: flex-start;
}
.name-title p {
  font-size: 26px;
}
.title-page {
  display: flex;
  flex-direction: column;
}
.title-page h1 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}
/*  */
main {
  padding-top: 50px;
  padding-left: 105px;
  color: var(--clear);
}
.filter_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.card_status {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  border-radius: 100px;
  box-shadow: 2px 1px 0.5rem var(--corp);
  background: none;
}
.card_status h1 {
  color: var(--corp);
  font-size: 3rem;
}
.card_status p {
  color: var(--corp);
  font-size: 1.2rem;
  font-weight: bold;
}
.card_status i {
  color: var(--corp);
  font-size: 2rem;
}
.card_status:hover,
.card_status:hover h1,
.card_status:hover p,
.card_status:hover i {
  color: var(--bg);
  background-color: var(--corp2);
}
.card_statusAtivo,
.card_statusAtivo:focus {
  color: var(--bg);
  background-color: var(--corp2);
  cursor: default;
  border-radius: 100px;
}
.card_statusAtivo h1,
.card_statusAtivo p,
.card_statusAtivo i {
  color: var(--bg);
}
